# Ignore migration files
myproject/myapp/migrations/

# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
*.log
*.pot
*.py[cod]
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
static/

# dotenv
.env

# macOS
.DS_Store
