<!-- D:\Code Playground\demo django\myproject\templates\feed.html -->
<!-- feed.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | Trendmia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/feedStyle.css' %}">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Your logo image -->
                <img src="{% static 'dist/images/logo.svg' %}" alt="Logo">
            </div>
            <div class="project-search">Search</div>
            <div class="right-section">
                <button id="home-button">Home</button>
                <button id="notification-button">Notification</button>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Left container for the profile flashcard -->
        <div class="left-container">
            <!-- Profile flashcard -->
            <div class="profile-flashcard" id="profileFlashcard">
                {% if user.is_authenticated %}
                <p class="welcome-message">Welcome, {{ user.name }}!</p>
                <div class="dropdown">
                    <button class="dropbtn" id="profileDropdownBtn">&#9660;</button>
                    <div class="dropdown-content" id="profileDropdownContent">
                        <a href="{% url 'logout' %}" id="logoutBtn">Logout</a>
                    </div>
                </div>
                {% else %}
                <p class="welcome-message">Welcome, Guest!</p>
                {% endif %}
            </div>

        </div>

        <!-- Container for the feed section -->
        <div class="feed-container">
            <!-- Feed section -->
            <div class="feed-section">
                <!-- Post form -->
                <div class="post-form">
                    <h2>Post about your project:</h2>
                    <!-- "Create Project" button -->
                    <div class="create-project-button-container">
                        <button id="create-project-button" class="create-project-button">Create Project</button>
                    </div>
                    <form id="projectForm" method="POST">
                        {% csrf_token %}
                        <input type="text" name="heading" placeholder="Caption"><br>
                        <input type="text" name="project_name" placeholder="Project Title"><br>
                        <textarea name="project_description" rows="4" placeholder="Project Description"></textarea><br>

                        <div class="input-wrapper">
                            <label for="tags">Tags:</label><button id="clearTags">Clear</button><br>
                            <select id="tagsSelect" name="category" multiple>
                                {% for tag in tags %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <p id="selectedTags"></p> <!-- Display selected tags here -->
                        </div>

                        <div class="input-wrapper">
                            <label for="status">Status:</label><br>
                            <select name="status">
                                <option value="ongoing">Ongoing</option>
                                <option value="completed">Completed</option>
                            </select>
                        </div>
                        <div class="button-group">
                            <button type="button" id="cancel-project-button"
                                class="cancel-project-button">Cancel</button>
                            <button type="button" id="submit-project-button"
                                class="submit-project-button">Submit</button>
                        </div>
                    </form>

                </div>
                <!-- Posts by other users -->
                <h2>Recent posts:</h2>
                <div class="post-list">
                    <!-- Iterate over each post and display user name, caption, project title, description, and categories -->
                    {% for post in posts %}
                    <div class="post">
                        <p>{{ post.user.name }}</p>
                        <p>{{ post.created_at|timesince}} ago </p>
                        <p>Caption: {{ post.heading }}</p>
                        <p>Project Title: {{ post.project_name }}</p>
                        <p>Description: {{ post.project_description }}</p>
                        <p>Tags: {{ post.tags }}</p>
                        <!-- Add a button to initiate chat -->
                        <form action="{% url 'chat' post.user.username %}" method="get">
                            <button type="submit">Initiate Chat</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <!-- JavaScript code -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var homeButton = document.getElementById('home-button');

            homeButton.addEventListener('click', function () {
                window.location.href = "/feed";
            });
        })

        document.addEventListener('DOMContentLoaded', function () {
            var profileDropdownBtn = document.getElementById('profileDropdownBtn');
            var profileDropdownContent = document.getElementById('profileDropdownContent');

            // Hide the logout button initially
            profileDropdownContent.style.display = 'none';

            profileDropdownBtn.addEventListener('click', function () {
                // Toggle visibility of the logout button
                profileDropdownContent.style.display = profileDropdownContent.style.display === 'none' ? 'block' : 'none';
            });
        });
        // for the post form 
        document.addEventListener('DOMContentLoaded', function () {
            var createProjectButton = document.getElementById('create-project-button');
            var projectForm = document.getElementById('projectForm');

            // Add click event listener to the button
            createProjectButton.addEventListener('click', function () {
                // Toggle visibility of the form
                projectForm.style.display = projectForm.style.display === 'none' ? 'block' : 'none';
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tagsDropdownContent = document.getElementById('tagsDropdownContent');
            var tagsDropdownBtn = document.getElementById('tagsDropdownBtn');

            // Add click event listener to dropdown button
            tagsDropdownBtn.addEventListener('click', function (event) {
                event.preventDefault();
                // Toggle visibility of dropdown content
                tagsDropdownContent.style.display = 'block';
            });

            // Close dropdown content if clicked outside
            document.addEventListener('click', function (event) {
                if (!event.target.closest('.dropdown')) {
                    tagsDropdownContent.style.display = 'none';
                }
            });
        });


        // Initialize an array to store selected options
        var selectedOptions = [];

        // Function to update selected tags display
        function updateSelectedTags() {
            document.getElementById('selectedTags').textContent = 'Selected Tags: ' + selectedOptions.join(', ');
        }

        // Add event listener to the select element
        document.getElementById('tagsSelect').addEventListener('click', function (event) {
            // Get the clicked option
            var clickedOption = event.target.textContent;

            // Check if the clicked option is already selected
            var index = selectedOptions.indexOf(clickedOption);
            if (index === -1) {
                // If not selected, add it to the array
                selectedOptions.push(clickedOption);
            } else {
                // If already selected, remove it from the array
                selectedOptions.splice(index, 1);
            }

            // Update selected tags display
            updateSelectedTags();
        });

        // Add event listener to the clear button
        document.getElementById('clearTags').addEventListener('click', function (event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Clear selected options array
            selectedOptions = [];
            // Update selected tags display
            updateSelectedTags();
        });


        document.addEventListener('DOMContentLoaded', function () {
            var submitProjectButton = document.getElementById('submit-project-button');
            var projectForm = document.getElementById('projectForm');
            var tagsSelect = document.getElementById('tagsSelect'); // Get the tags dropdown select element

            projectForm.style.display = 'none';

            submitProjectButton.addEventListener('click', function () {
                // Get the selected tags from the dropdown select element
                var selectedTags = [];
                for (var i = 0; i < tagsSelect.options.length; i++) {
                    if (tagsSelect.options[i].selected) {
                        selectedTags.push(tagsSelect.options[i].value);
                    }
                }

                // Add the selected tags to the form data
                var formData = new FormData(projectForm);
                selectedTags.forEach(function (tag) {
                    formData.append('tags', tag);
                });

                fetch('/post_project/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            // Redirect to the feed page upon successful submission
                            window.location.href = "/feed";
                        } else {
                            // Handle errors
                            console.error('Error submitting form:', response.statusText);
                        }
                    })
                    .catch(error => {
                        console.error('Error submitting form:', error);
                    });
            });
        });



    </script>
</body>

</html>