<!-- D:\Code Playground\demo django\myproject\templates\index.html -->
<!-- index.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trendmia</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap">
  <link rel="stylesheet" type="text/css" href="{% static 'dist/css/indexStyle.css' %}">
  <img src="{% static 'dist/images/magicpattern-blob-1708592793397.svg' %}" alt="Blob Image" class="blob-image">
</head>

<body>
  <div class="navbar">
    <div class="logo">
      <img src="{% static '/dist/images/logo.svg' %}" alt="Logo">
      Trendmia
    </div>
    <div class="nav-buttons">
      <button id="home-button">Home</button>
      <button id="signin-button">Sign-In</button>
      <button id="signup-button">Sign-Up</button>
    </div>
  </div>
  <div class="container">
    <div class="sidebar1">
      <div class="circular-wheel"></div> <!-- Circular wheel -->
    </div>
    <div class="container">
      <div class="sidebar2">
      </div>
      <div class="sidebar3">
      </div>
      <div><img src="{% static '/dist/images/magicpattern-blob-1708592793397.svg' %}" alt="Blob Image"
          class="blob-image">
      </div>
      <div class="content">
        <div>
          <h1 class="heading">Let's Collaborate-Create-Elevate beyond the Ordinary!</h1>
          <ul>
            <h3 class="intro">Explore Trendmia's Unique AI-powered Platform to Validated and Amplify your Project Ideas.
            </h3>
          </ul>
        </div>
        <div>
          <div>
            <h1 class="research">AI-Driven Idea Validation:</h1>
            <div class="feature-description">
              <p>Leverage Trendmia's powerful AI algorithms to validate the uniqueness and viability of your ideas,
                ensuring you stand out in the crowd.</p>
            </div>
          </div>
          <div>
            <h1 class="trending">Real-time Trend Analysis:</h1>
            <div class="feature-description">
              <p>Stay ahead of the curve with Trendmia's real-time trend analysis, enabling you to identify emerging
                project fields and seize new opportunities.</p>
              <div class="search-bar">
                <div class="trending-text">See What's Trending  → </div>
                <button id="check-now-button">Check Now</button>
              </div>
            </div>
          </div>
          <div>
            <h1 class="project">Collaborative Project Spaces:</h1>
            <div class="feature-description">
              <p>Engage in seamless collaboration within dedicated project spaces, where you can connect with
                like-minded individuals, share insights, and drive collective innovation.</p>
            </div>
          </div>
          <div>
            <h1 class="research">Research &amp; Innovation (upcoming):</h1>
            <div class="feature-description">
              <p>Unite with peers in dedicated spaces to brainstorm, share insights, and drive transformative research
                forward.</p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="flashcard-wrapper">
            <div class="flashcard">
              <!-- Sign-Up Section -->
              <div id="signup-section" class="flashcard-content">
                <h1>Sign-Up</h1>
                <form method="POST" action="{% url 'signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Submit</button>
                </form>
                <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="wave-footer">
      </div>

      <!-- JavaScript code -->
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var homeButton = document.getElementById('home-button');

          homeButton.addEventListener('click', function () {
            window.location.href = "/";
          });

          var signupButton = document.getElementById('signup-button');

          signupButton.addEventListener('click', function () {
            var signupSection = document.getElementById('signup-section');
            signupSection.scrollIntoView({ behavior: 'smooth' });
          });

          var signinButton = document.getElementById('signin-button');

          signinButton.addEventListener('click', function () {
            window.location.href = "{% url 'login' %}";
          });

          var trendingText = document.querySelector('.trending-text');
          trendingText.addEventListener('click', function () {
            window.location.href = "/trending"; // Redirect to trending page
          });

          var checkNowButton = document.getElementById('check-now-button');
          checkNowButton.addEventListener('click', function () {
            window.location.href = "/trending"; // Redirect to trending page
          });
        });
      </script>

</body>

</html>