<!-- profile.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/profileStyle.css' %}">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Your logo image -->
                <img src="{% static 'dist/images/logo.svg' %}" alt="Logo">
            </div>
            <div class="right-section">
                <a href="{% url 'feed' %}">Feed</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Profile Section -->
        <div class="profile-section">
            <div class="profile-info">
                <img src="{% static 'dist/images/logo.svg' %}" alt="Profile Image">
                <p>Name: {{ user.name }}</p>
                <p>Email Id. : {{ user.username }}</p>
            </div>
            <h2>Past Posts</h2>
            <div class="post-list">
                {% for post in user.project_set.all|slice:"::-1" %}
                <div class="post">
                    
                    <p>Created at: {{ post.created_at }}</p>
                    <p>Caption: {{ post.heading }}</p>
                    <p>Project Title: {{ post.project_name }}</p>
                    <p>Project Description: {{ post.project_description }}</p>
                    <p>Status {{ post.status }}</p>
                    <p>Tags: {{ post.tags }}</p>
                    {% if post.status == "ongoing" %}
                    <form action="{% url 'update_status' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="mark-complete-btn">Mark as Completed</button>
                    </form>
                    {% elif post.status == "completed" %}
                    <form action="{% url 'update_status' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="mark-ongoing-btn">Mark as Ongoing</button>
                    </form>
                    {% endif %}                    
                    <!-- Add more details about the post as needed -->
                </div>
                {% empty %}
                <p>No posts found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
