<!-- trending.html  -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/trendingStyle.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #plot {
            width: 800px; /* Set the width of the plot */
            height: 600px; /* Set the height of the plot */
        }
    </style>
</head>
<body class="dark-theme">
    <div class="container">
        <h1>Trending Page</h1>
        <div class="content-wrapper">
        <!-- Display the tag counts table -->
        <div class="tag-counts">
            <h2>Latest Trend in Tags:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Weighted Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag, count in tag_counts %}
                    <tr>
                        <td>{{ tag }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Display the bar plot -->
        <div class="bar-plot" id="plot"></div>
        </div>

        <!-- Form for selecting a tag -->
        <div class="tag-selection-form">
            <form method="POST">
                {% csrf_token %}
                <label for="tag_dropdown">Select Tag:</label>
                <select name="tag_dropdown" id="tag_dropdown">
                    {% for tag, _ in tag_counts %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>

        <!-- Display the selected tag history plot -->
        <div class="tag-history">
            {% if selected_tag %}
            <h2>History of Tag "{{ selected_tag }}" Over Past Months:</h2>
            <div>
                <img src="{% static 'dist/images/tag_history_plot.png' %}" alt="Tag History Plot">
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Script for plotting the bar graph -->
    <script>
        // Extract tag names and counts from Django template variables
        const tags = [{% for tag, count in tag_counts %}'{{ tag }}',{% endfor %}];
        const counts = [{% for tag, count in tag_counts %}{{ count }},{% endfor %}];

        // Reverse the order of the arrays
        tags.reverse();
        counts.reverse();

        // Plot the bar graph vertically
        Plotly.newPlot('plot', [{
            x: counts, // Use counts for the vertical bar lengths
            y: tags,   // Use tags for the vertical bar labels
            type: 'bar',
            orientation: 'h' // Set orientation to horizontal
        }]);
    </script>

</body>
</html>
